@model GerenciadorDeEmpresaWEB.Models.PerfilUsuarioViewModel

@{
    ViewData["Title"] = "Excluir Perfil de Usuario";
}

<h2>@ViewData["Title"]  @Model.Id</h2>

<div>
    <h3>Tem certeza que deseja excluir esse perfil de usuario: <strong>@Model.Nome</strong>?</h3>

    <form asp-action="DeleteConfirmado" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
            </div>
    </form>
</div>
