@model GerenciadorDeEmpresaWEB.Models.PerfilUsuarioViewModel

@{
    ViewData["Title"] = "Detalhes do Perfil de Usuario";
}

<h2>@ViewData["Title"]</h2>

<div class="card mt-4">
    <div class="card-header">
        <h4>Informações do Perfil Usuario</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Nome Fantasia:</strong> @Model.Nome</p>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Editar</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
